.cart-main {
    margin-inline: auto;
    max-width: 1500px;
    padding: 10rem 4rem 8rem 4rem;   
}

.cart-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.form {
    margin-top: 3rem;
}