.summary-total-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
    background-color: black;
}