@use "../abstracts" as *;

.header {
  display: flex;
  flex-direction: column;
  top: 0;
  width: 80%;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  align-items: center;
  padding: .15rem 0;


  .info-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    p:first-child {
      color: $hell-green;
    }
  }

  
  .header-email {
    display: flex;
    align-items: center;

    a {
      color: $dark-green;
    }
  }

  .social {
    display: flex;
    align-items: center;
    gap: 6rem;

    .flex {
      a:first-child {
        margin-right: 0.25rem;
      }
    }
  }

  .menu-bar {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: .15rem 0;
    margin-top: 0rem;
    width: 100%;

    a {
      color: $font-menu;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 0rem;
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    .cart-quantity {
      margin-left: 0.25rem;
      font-size: 18px;
      font-weight: bold;
    }
  }
  @media only screen and (max-width: 768px) {
      margin: 0;
      width: 90%;

    .info-bar {
      display: none;
    }
  
    .menu-bar {
      padding: 0;
      margin-top: .5rem;
    }
    }
}
